---
---

@import "{{ site.theme }}";

:root {
  --linear-gradient: rgba(0, 0, 0, 0.4);
  --default-color: white;

  --font-weight-thin: 300;
  --font-weight-bold: 400;
  --font-size-small: 24px;
  --font-size-medium: 36px;
  --font-size-large: 80px;
  --line-height-small: 30px;
  --line-height-medium: 36px;
  --line-height-large: 80px;

  --link-color: lightblue;
}

h1,
h2,
h3,
h4 {
  color: var(--default-color);
  margin: 20px 0;
}

h1 {
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  font-weight: var(--font-weight-thin);
}

h2 {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
  font-weight: var(--font-weight-thin);
}

h3 {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: var(--font-weight-bold);
}

h4 {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: var(--font-weight-thin);
  margin: 20px 0 0;
}

table {
  table-layout: fixed;
  margin: 0 auto;
  width: unset;
}

th {
  display: none;
}

td {
  color: var(--default-color);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: var(--font-weight-thin);
  border-bottom: none;
  padding-bottom: 10px;
}

code,
pre {
  font-family: Courier New, monospace;
  color: unset;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--link-color);
  filter: brightness(0.5);
  font-weight: unset;
  text-decoration: none;
}

body {
  background: no-repeat center center fixed;
  background-size: cover;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -20%; /* make view a bit wider */
  text-align: center;
  width: unset;
  padding-bottom: unset;
}

#ip-address {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: var(--default-color);
  filter: brightness(0.5);
  font-size: 14px;
}
