---
---

@import "{{ site.theme }}";

h1,
h2,
h3 {
  color: white;
}

h1 {
  font-size: 96px;
  font-weight: 300;
  line-height: 96px;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

code,
pre {
  // font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  font-family: Courier New, monospace;
  // font-size: 22px;
  color: unset;
}

a {
  // color: white;
  color: lightblue;
  text-decoration: none;
}

a:hover,
a:focus {
  // color: #069;
  // color: white;
  color: lightblue;
  // font-weight: unset;
  font-weight: 600;
  // text-decoration: underline;
  text-decoration: none;
}

body {
  background: url("../images/1.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
