---
---

@import "{{ site.theme }}";

:root {
  --linear-gradient: rgba(0, 0, 0, 0.3);
  --font-weight-thin: 300;
  --font-weight-bold: 400;
  --header-font-size: 36px;
  --header-line-height: 36px;
  --link-color: lightblue;
  --link-font-size: 24px;
  --link-line-height: 30px;
}

h1,
h2,
h3,
h4 {
  color: white;
  margin: 20px 0;
}

h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: var(--link-font-thin);
}

h2 {
  font-size: var(--header-font-size);
  line-height: var(--header-line-height);
  font-weight: var(--link-font-thin);
}

h3 {
  font-size: var(--link-font-size);
  line-height: var(--link-line-height);
  font-weight: var(--font-weight-bold);
}

h4 {
  font-size: var(--link-font-size);
  line-height: var(--link-line-height);
  font-weight: var(var(--font-weight-thin));
  margin: 20px 0 0;
}

table {
  table-layout: fixed;
  margin: 0 auto;
  width: unset;
}

th {
  display: none;
}

td {
  color: white;
  font-size: var(--link-font-size);
  line-height: var(--link-line-height);
  font-weight: var(var(--font-weight-thin));
  border-bottom: none;
  padding-bottom: 10px;
}

code,
pre {
  font-family: Courier New, monospace;
  color: unset;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--link-color);
  filter: brightness(0.5);
  font-weight: unset;
  text-decoration: none;
}

body {
  background: no-repeat center center fixed;
  background-size: cover;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -20%; /* make view a bit wider */
  text-align: center;
  width: unset;
  padding-bottom: unset;
}
