<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo title=false %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div id="search">
      <a href="https://start.duckduckgo.com/?kn=1&kav=1&k5=2&kah=se-sv&kl=wt-wt&k9=eeeeee&kp=-2&k1=-1&km=m&kaj=m&kak=-1&kay=b&kg=p&kap=-1&kad=en_GB&kaq=-1&kx=eeeeee&kau=-1&k21=222222&k7=282828&kax=-1&kpsb=-1&kao=-1&kbc=1&kdcm=1&kaa=aaaaaa&kbf=1&kae=d&ku=-1&ks=n&k18=-1" target="_blank">DuckDuckGo</a>
    </div>
    <div class="wrapper">
      <section>

        <h1 id="time"></h1>
        <hr/>
        <h2 id="date"></h2>

        {{ content }}

      </section>
    </div>
    <div id="ip-address"></div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/change-background.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/time-and-date.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/ip-address.js" | relative_url }}"></script>
  </body>
</html>
