<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <section>

        <h1 id="time"></h1>
        <hr/>
        <h2 id="date"></h2>

        {{ content }}

      </section>
    </div>
    <div id="ip-address"></div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script type="text/javascript">
      const images = [
          'alp-village.jpg',
          'autumn-lake.jpg',
          'autumn-trail.jpg',
          'beach.jpg',
          'canyon.jpg',
          'coffee.jpg',
          'cove.jpg',
          'curves.jpg',
          'fog.jpg',
          'green-canyon.jpg',
          'icy-canal.jpg',
          'mountains.jpg',
          'pier.jpg',
          'railway.jpg',
          'sunset.jpg',
          'tree-on-hill.jpg',
          'winter-lake.jpg',
      ];
      function changeBackground() {
          const randomIndex = Math.floor(Math.random() * images.length);
          document.body.style.backgroundImage = 'linear-gradient(var(--linear-gradient), var(--linear-gradient)), url("assets/images/' + images[randomIndex] + '")';
      }
      changeBackground();
    </script>
    <script type="text/javascript">
      (function () {
        var timeElement = document.getElementById("time");
        function updateTime(time) {
          time.innerHTML = new Date().toLocaleTimeString(["en-SE"], {
            hour: "2-digit",
            minute: "2-digit"
          });
        }
        updateTime(timeElement);
        setInterval(function () {
          updateTime(timeElement);
        }, 1000); /* Update every second */
      })();
    </script>
    <script type="text/javascript">
      (function () {
        var dateElement = document.getElementById("date");
        function updateDate(date) {
          date.innerHTML = new Date().toLocaleDateString(["en-SE"], {
            weekday: "long",
            day: "numeric",
            month: "long",
          });
        }
        updateDate(dateElement);
        setInterval(function () {
          updateDate(dateElement);
        }, 3600000); /* Update every hour */
      })();
    </script>
    <script>
      (function () {
        fetch("https://api.ipify.org?format=json")
          .then((response) => response.json())
          .then((data) => {
            // Display the IP address on the screen
            document.getElementById("ip-address").textContent = data.ip;
          })
          .catch((error) => {
            console.error("Error fetching IP address:", error);
          });
      })();
    </script>
  </body>
</html>
